spring:
  application:
    name: lovable-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/lovable?useSSL=false
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true