spring:
  application:
    name: lovable-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/lovable?useSSL=false
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
      show-sql: true
    properties:
      hibernate:
        format_sql: true